**/*.tif
**/build
**/results
**/uploads
**/temp_tiles
**/previews
**/checkpoints
**/*.so
**/__pycache__
frontend/costmap_functions/
results/
geotiffs/
generated_costmap.py
.env
**/frontend/temp_parameters.json
